{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container">
<h1>Change your password</h1>
<p>Use the following form to change your password.</p>
<form action="." method="post">
<div class="col-sm-5">
    {{form|crispy}}
</div>
<div class="col-sm-5" style="display: flex;justify-content:center;margin: 10px;">
    <button type="submit" value="change password" class="btn btn-primary btn-sm">Change Password</button>
</div>
{% csrf_token %}
</form>
</div>
{% endblock content %}