{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset Form{% endblock title %}
{% block content %}
<div class="container">
    <h1>Forgotten your password ?</h1>
    <p>Enter your email address to obtain a new password.</p>
    <form action="." method="post">
        <div class="col-sm-5">
            {{form|crispy}}
        </div>
        <div class="col-sm-5" style="display: flex;justify-content:center;margin: 10px;">
            <button type="submit" value="Sent E-mail" class="btn btn-primary btn-sm">Send E-Mail</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock content %}