{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock title %}
{% block content %}
<div class="container">
    <h1>Reset your password.</h1>
    {% if validlink %}
    <p>Please enter your password twice:</p>
    <form action="." method="post">
    <div class="col-sm-5">
        {{form|crispy}}
    </div>
        {% csrf_token %}
        <div class="col-sm-5" style="display: flex;justify-content:center;margin: 10px;">
            <button type="submit" value="Change my password" class="btn btn-primary btn-sm">Change Password</button>
        </div>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset link.</p>
    {% endif %}
</div>
{% endblock content %}